<div class="last">
    <p>Developed by CoolDeveloper</p>
</div>
<style>
    .last
    {
        text-align: center;
        padding: 1rem 0;
        font-weight: bold;
        background-color: silver;
        bottom: 0;
        margin-bottom: -2rem;;
    }
</style>